<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">
</head>
<body>
    <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
      <div class="collapse navbar-collapse" id="navbarsExampleDefault">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item" *ngIf="isAuth">
            <a class="nav-link" [routerLink]="['/portal']">My Portal<span class="sr-only">(current)</span></a>
          </li>
          <li class="nav-item">
            <a class="nav-link" [routerLink]="['/product']">Product Sample<span class="sr-only">(current)</span></a>
          </li>
          <li class="nav-item">
            <a class="nav-link" [routerLink]="['/license']">Licenses</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" [routerLink]="['/about-us']">About Us</a>
          </li>
        </ul>

        <form class="form-inline my-2 my-lg-0" *ngIf="isAuth">
          <input class="form-control mr-sm-2" type="text" placeholder="Search" aria-label="Search">
          <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
        </form>
        <ul class="navbar-nav"  *ngIf="!isAuth">
          <li class="nav-item">
            <a class="nav-link" [routerLink]="['/login']">Login</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" [routerLink]="['/signup']">Sign Up</a>
          </li>
        </ul>
      </div>
    </nav>
  </body>
