<div class="pricing-header px-3 py-3 pt-md-5 pb-md-4 mx-auto text-center">
  <h1 class="display-4">License Pricing</h1>
  <p class="lead">Choose desired license accordingly refer to description for more detials.</p>
</div>
<div class="container">
  <div class="card-deck mb-3 text-center">
    <div class="card mb-4 shadow-sm">
      <div class="card-header">
        <h4 class="my-0 font-weight-normal">Evaluation</h4>
      </div>
      <div class="card-body">
        <h1 class="card-title pricing-card-title">0 php <small class="text-muted">/ year</small></h1>
        <ul class="list-unstyled mt-3 mb-4">
          <li>Extended Access</li>
          <li>Limited upto 2 device</li>
          <li>No Email support</li>
          <li>7 Days Trial Period</li>
        </ul>
        <button type="button" class="btn btn-lg btn-block btn-outline-primary">Sign up for free</button>
      </div>
    </div>
    <div class="card mb-4 shadow-sm">
      <div class="card-header">
        <h4 class="my-0 font-weight-normal">Basic</h4>
      </div>
      <div class="card-body">
        <h1 class="card-title pricing-card-title">599 php <small class="text-muted">/ year</small></h1>
        <ul class="list-unstyled mt-3 mb-4">
          <li>Standard Access</li>
          <li>Limited Upto 2 devices</li>
          <li>Email support</li>
        </ul>
        <button type="button" class="btn btn-lg btn-block btn-primary">Get started</button>
      </div>
    </div>
    <div class="card mb-4 shadow-sm">
      <div class="card-header">
        <h4 class="my-0 font-weight-normal">Pro</h4>
      </div>
      <div class="card-body">
        <h1 class="card-title pricing-card-title">799 php <small class="text-muted">/ year</small></h1>
        <ul class="list-unstyled mt-3 mb-4">
          <li>Extended Access</li>
          <li>Limited Upto 3 devices</li>
          <li>Email support</li>
        </ul>
        <button type="button" class="btn btn-lg btn-block btn-primary">Get started</button>
      </div>
    </div>
    <div class="card mb-4 shadow-sm">
      <div class="card-header">
        <h4 class="my-0 font-weight-normal">Enterprise</h4>
      </div>
      <div class="card-body">
        <h3 class="card-title pricing-card-title">999 php <small class="text-muted">/ 6-devices / year +</small></h3>
        <h3 class="card-title pricing-card-title">200 php <small class="text-muted">/ device</small></h3>
        <ul class="list-unstyled mt-3 mb-4">
          <li>Extended Access</li>
          <li>Unlimited Devices</li>
          <li>Priority Email support</li>
        </ul>
        <button type="button" class="btn btn-lg btn-block btn-primary" routerLink="/default/about-us">Contact us</button>
      </div>
    </div>
  </div>

  <footer class="pt-4 my-md-5 pt-md-5 border-top">
    <div class="row">
      <div class="col-12 col-md">
        <img class="mb-2" src="./Pricing example for Bootstrap_files/bootstrap-solid.svg" alt="" width="24" height="24">
        <small class="d-block mb-3 text-muted">© 2019</small>
      </div>
      <div class="col-6 col-md">
        <h5>Features</h5>
        <ul class="list-unstyled text-small">
          <li><a class="text-muted" href="https://getbootstrap.com/docs/4.1/examples/pricing/#">Cool stuff</a></li>
          <li><a class="text-muted" href="https://getbootstrap.com/docs/4.1/examples/pricing/#">Random feature</a></li>
          <li><a class="text-muted" href="https://getbootstrap.com/docs/4.1/examples/pricing/#">Team feature</a></li>
          <li><a class="text-muted" href="https://getbootstrap.com/docs/4.1/examples/pricing/#">Stuff for developers</a></li>
          <li><a class="text-muted" href="https://getbootstrap.com/docs/4.1/examples/pricing/#">Another one</a></li>
          <li><a class="text-muted" href="https://getbootstrap.com/docs/4.1/examples/pricing/#">Last time</a></li>
        </ul>
      </div>
      <div class="col-6 col-md">
        <h5>Resources</h5>
        <ul class="list-unstyled text-small">
          <li><a class="text-muted" href="https://getbootstrap.com/docs/4.1/examples/pricing/#">Resource</a></li>
          <li><a class="text-muted" href="https://getbootstrap.com/docs/4.1/examples/pricing/#">Resource name</a></li>
          <li><a class="text-muted" href="https://getbootstrap.com/docs/4.1/examples/pricing/#">Another resource</a></li>
          <li><a class="text-muted" href="https://getbootstrap.com/docs/4.1/examples/pricing/#">Final resource</a></li>
        </ul>
      </div>
      <div class="col-6 col-md">
        <h5>About</h5>
        <ul class="list-unstyled text-small">
          <li><a class="text-muted" href="https://getbootstrap.com/docs/4.1/examples/pricing/#">Team</a></li>
          <li><a class="text-muted" href="https://getbootstrap.com/docs/4.1/examples/pricing/#">Locations</a></li>
          <li><a class="text-muted" href="https://getbootstrap.com/docs/4.1/examples/pricing/#">Privacy</a></li>
          <li><a class="text-muted" href="https://getbootstrap.com/docs/4.1/examples/pricing/#">Terms</a></li>
        </ul>
      </div>
    </div>
  </footer>
</div>
