<div class="container px-3 py-3 pt-md-5 pb-md-4 mx-auto ">
  <br>
  <br>
  <h3 class="display-4">About Us</h3>
  <p class="lead">
    Our group started mid of year 2016, each members are working in IT industry with common interest towards new technologies.
  </p>
  <p class="lead">
    We often meet in fast-food chains and coffee shops in Cebu City to discuss our ideas, after several meetings we formally started the group startup.
  </p>
  <p class="lead">
    We believed that data is the new oil which powers our new society but unlike oil, data is unlimited and durable that makes it more appealing and convenient to users and profitable for business.
  </p>
</div>
<br>
<div class="container">
  <h3>Mission:</h3>
  <p>Our mission is to integrate new technology and innovation to the majority people who has limited access to information and useful technology services by developing products that are easy to use, reliable and affordable.</p>
  <br>
  <h3>Vision:</h3>
  <p>Our goal is to encourage, to improve lives and to widens perspective of people so they can do more in life using innovative technology.</p>
</div>
