<section class="container cards_index">

  <div class="row data_1">
    <div class="col-md-9 data-test">

        <div class="row design-1">
          <div class="col">
              <div class="border-info col ">
                  <i class="fas fa-money-bill-wave fa-3x p-1 font-2xl mr-1 float-left"></i>
                  <div class="h5 text-info mb-0 mt-h">0</div>
                  <p>INCOME</p>
                </div>
          </div>
          <div class="col">
              <div class="border-info lr col">
                  <i class="fas fa-book  fa-3x p-1  font-2xl mr-1 float-left"></i>
                  <div class="h5 text-info mb-0 mt-h">0</div>
                  <p>LAST RECORD</p>
                </div>
          </div>
          <div class="col">
              <div class="border-info uptime col">
                  <i class="fas fa-hdd fa-3x p-1 font-2xl mr-1 float-left"></i>
                  <div class="h5 text-info mb-0 mt-h">0</div>
                  <p>UPTIME</p>
                </div>
          </div>
        </div>

    </div>

    <div class="col-md-3 pl-3 right-content">
      <div class="dash-content">
      <h5 class="pt-3 pl-5">Welcome to your! Dashboard</h5>

      <small class="pt-3 pl-5"><b>Internet Status</b></small>
      <p  class="pl-5">With Internet</p>
    </div>
    </div>
  </div>

  <div class="row data_2 pt-3">
      <div class="col-md-9 data-test">

          <div class="row design-1">
            <div class="col">
                <div class="border-info col ">
                    <i class="fas fa-cube fa-3x p-1 font-2xl mr-1 float-left"></i>
                    <div class="h5 text-info mb-0 mt-h">0</div>
                    <p>RPI IPADDR</p>
                  </div>
            </div>
            <div class="col">
                <div class="border-info lr col">
                    <i class="fas fa-cubes  fa-3x p-1  font-2xl mr-1 float-left"></i>
                    <div class="h5 text-info mb-0 mt-h">0</div>
                    <p>RPI CPU</p>
                  </div>
            </div>
            <div class="col">
                <div class="border-info uptime col">
                    <i class="fas fa-broom fa-3x p-1 font-2xl mr-1 float-left"></i>
                    <div class="h5 text-info mb-0 mt-h">0</div>
                    <p>RPI MEMORY</p>
                  </div>
            </div>
          </div>

      </div>

      <div class="col-md-3">

      </div>
    </div>

    <div class="row data_3 pt-3">
        <div class="col-md-9 data-test">

            <div class="row design-1">
              <div class="col">
                  <div class="border-info col ">
                      <i class="fa fa-laptop fa-3x p-1 font-2xl mr-1 float-left"></i>
                      <div class="h5 text-info mb-0 mt-h">0</div>
                      <p>WLC IPADDR</p>
                    </div>
              </div>
              <div class="col">
                  <div class="border-info lr col">
                      <i class="fas fa-laptop-code  fa-3x p-1  font-2xl mr-1 float-left"></i>
                      <div class="h5 text-info mb-0 mt-h">0</div>
                      <p>WLC CPU</p>
                    </div>
              </div>
              <div class="col">
                  <div class="border-info uptime col">
                      <i class="fas fa-broom fa-3x p-1 font-2xl mr-1 float-left"></i>
                      <div class="h5 text-info mb-0 mt-h">0</div>
                      <p>WLC MEMORY</p>
                    </div>
              </div>
            </div>

        </div>

        <div class="col-md-3">

        </div>
      </div>
  </section>
<!-- Footer -->
<footer class="page-footer font-small blue container mt-5">
  <div class="footer-copyright py-5">AIM © 2018 Copyright:
    <a href="https://mdbootstrap.com/bootstrap-tutorial/">firethumb.com</a>
  </div>
</footer>
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.0/umd/popper.min.js" integrity="sha384-cs/chFZiN24E4KMATLdqdvsezGxaGsi4hLGOzlXwp5UZB1LY//20VyM2taTB4QvJ" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/js/bootstrap.min.js" integrity="sha384-uefMccjFJAIv6A+rW+L4AHf99KvxDjWSu1z9VI8SKNVmz4sk7buKt/6v9KI65qnm" crossorigin="anonymous"></script>
