<div class="row">
    <div class="col-md-6">
      <card cardTitle="Active Users" isCollapse="true">
        <div class="form-group">
          <div class="row">
            <canvas id="myChart" width="800" height="400"></canvas>
          </div>
        </div>
  
      </card>
    </div>
    <div class="col-md-6">
        <card cardTitle="Expired Users" isCollapse="true">
            <div class="form-group">
                <div class="row">
                    <canvas id="expiredUsers" width="800" height="400"></canvas>
                  </div>
            </div>
            
          </card>
    </div>
    <div class="col-md-6">
      <card cardTitle="Bandwidth Utilization" isCollapse="true">
          <div class="form-group">
              <div class="row">
                  <canvas id="bandWidthUtil" width="800" height="400"></canvas>
                </div>
          </div>
          
        </card>
    </div>
    <div class="col-md-6">
      <card cardTitle="Network Monitor" isCollapse="true">
          <div class="form-group">
              <div class="row">
                  <canvas id="netWorkUlit" width="800" height="400"></canvas>
                </div>
          </div>
          
        </card>
    </div>
  </div>
    
  
