<card cardTitle="Notification History" isCollapse="true">
  <div class="row">
    <div class="col-6 form-group">
      <label class="control-label">System:</label>
      <div class="form-group">
        <alert type="warning" isCloseAlert="true">Warning! Better check yourself, you're not looking too good.</alert>
        <alert type="danger" isCloseAlert="true">Oh snap! Change a few things up and try submitting again.</alert>
      </div>
    </div>
    <div class="col-6">
      <label class="control-label">User:</label>
      <div class="form-group">
        <alert type="warning" isCloseAlert="true">Warning! Better check yourself, you're not looking too good.</alert>
        <alert type="danger" isCloseAlert="true">Oh snap! Change a few things up and try submitting again.</alert>
      </div>
    </div>
  </div>

</card>
<card cardTitle="RPI Logs" isCollapse="true">
  <div class="row">
    <div class="col-6">
      <div class="form-group">
        <label class="control-label">RPI System Logs</label>
        <textarea cols="0" rows="10" class="form-control" placeholder="Textarea"></textarea>
      </div>
    </div>
    <div class="col-6">
      <div class="form-group">
        <label class="control-label">RPI User Logs</label>
        <textarea cols="0" rows="10" class="form-control" placeholder="Textarea"></textarea>
      </div>
    </div>
  </div>
</card>
<card cardTitle="WLC Logs" isCollapse="true">
  <div class="row">
    <div class="col-6">
      <div class="form-group">
        <label class="control-label">WLC System Logs</label>
        <textarea cols="0" rows="10" class="form-control" placeholder="Textarea"></textarea>
      </div>
    </div>
    <div class="col-6">
      <div class="form-group">
        <label class="control-label">WLC User Logs</label>
        <textarea cols="0" rows="10" class="form-control" placeholder="Textarea"></textarea>
      </div>
    </div>
  </div>
</card>
