  <main role="main">
    <!-- Main jumbotron for a primary marketing message or call to action -->
    <div class="jumbotron">
      <div class="container">
        <h1 class="display-3">Hello, world!</h1>
        <p>AIM Hotspot device enables you to manage and resell your internet bandwidth using WiFi hotspot (captive potal) technology with minimal operating maintenance and scalable architecture design.</p>
        <p>AIM Hotspot is modular and upgradable, depending upon the WiFi area converage and number of concurent WiFi users/clients you might require.</p>
        <p>AIM Hotspot is cloud supported enabling you to monitor and manage your Hotspot device anywhere.</p>
        <p>To know more about our products go to product sample or click the link below.</p>
        <p><a class="btn btn-primary btn-lg" routerLink="/default/product" role="button">Learn more &raquo;</a></p>
      </div>
    </div>
    <div class="container">
      <!-- Example row of columns -->
      <div class="row">
        <div class="col-md-4">
          <h2>News</h2>
          <p>For the latest news and updates check the link below.</p>
          <p><a class="btn btn-secondary" routerLink="/default/home/article" role="button">View details &raquo;</a></p>
        </div>
        <div class="col-md-4">
          <h2>Documents and Downloads</h2>
          <p>For online resources, documents, manuals and downloads check link below.</p>
          <p><a class="btn btn-secondary" routerLink="/default/home/documents" role="button">View details &raquo;</a></p>
        </div>
        <div class="col-md-4">
          <h2>Promotions</h2>
          <p>For recent promotions and discounts check link below.</p>
          <p><a class="btn btn-secondary" routerLink="/default/home/promo" role="button">View details &raquo;</a></p>
        </div>
      </div>
    </div> <!-- /container -->
  </main>
  <footer>
    <div class="container">
      <p>&copy; 2018-2019</p>
    </div>
  </footer>
