<div class="row">
  <div class="col-md-6">
    <card cardTitle="Basic System Settings" isCollapse="true">
      <div class="form-group">
        <label class="control-label">Text</label>
        <input type="text" class="form-control" placeholder="Text Input">
        <label class="control-label">Password</label>
        <input type="password" class="form-control" placeholder="Password Input">
        <label class="control-label">With Help</label>
        <input type="text" class="form-control" placeholder="With Help">
        <span class="help-block sub-little-text">A block of help text that breaks onto a new line and may extend beyond one line.</span>
        <label class="control-label">Small Input</label>
        <input type="text" class="form-control form-control-sm" placeholder="Small Input">
        <label class="control-label">Large Input</label>
        <input type="text" class="form-control form-control-lg" placeholder="Large Input">
        <label class="control-label">Disabled</label>
        <input type="text" class="form-control" placeholder="Disabled Input" disabled>
        <label class="control-label">Readonly</label>
        <input type="text" class="form-control" placeholder="Readonly Input" readonly>
        <label class="control-label">Textarea</label>
        <textarea cols="0" rows="10" class="form-control" placeholder="Textarea"></textarea>
      </div>
    </card>
  </div>
  <div class="col-md-6">
    <card cardTitle="Basic Features">
      <div class="form-group">
        <div class="col-md-12">
          <input class="checkbox" type="checkbox" id="color-checkbox1" checked>
          <label class="check-label" for="color-checkbox1">Allow 4.2.2.2</label>
        </div>
        <div class="col-md-12">
          <input class="checkbox checkbox-primary" type="checkbox" id="color-checkbox2" checked>
          <label class="check-label" for="color-checkbox2">Allow 8.8.8.8</label>
        </div>
        <div class="col-md-12">
          <input class="checkbox checkbox-success" type="checkbox" id="color-checkbox3" checked>
          <label class="check-label" for="color-checkbox3">Allow 208.67.222.222</label>
        </div>
        <div class="col-md-12">
          <input class="checkbox checkbox-warning" type="checkbox" id="color-checkbox4" checked>
          <label class="check-label" for="color-checkbox4">Allow Hotspot DHCP</label>
        </div>
        <div class="col-md-12">
          <input class="checkbox checkbox-danger" type="checkbox" id="color-checkbox5" checked>
          <label class="check-label" for="color-checkbox5">Allow Hotspot DNS</label>
        </div>
        <div class="col-md-12">
          <input class="checkbox checkbox-info" type="checkbox" id="color-checkbox6" checked>
          <label class="check-label" for="color-checkbox6">Coinslot Activation with Internet</label>
        </div>
      </div>
      <div class="form-group">
        <div class="input-group">
          <input class="form-control with-success-addon" placeholder="Mail" type="text">
          <span class="input-group-addon input-group-addon-success addon-right" id="basic-addon1">@mail.com</span>
        </div>
      </div>
    </card>

  </div>
</div>
