 <div class="row">
  <div class="col-md-6">
    <card cardTitle="System Settings" isCollapse="true">
      <div class="form-group">
        <div class="row">
          <div class="col-6">
              <label for="example1" class="form-label">WEB UI PORT:</label>
              <input type="text" class="form-control" id="QueryDelay" placeholder="8080">
              <label for="example2" class="form-label">Local Web Password:</label>
              <input type="text" class="form-control" id="webun" placeholder="Input Password">

          </div>
          <div class="col-6">
            <label for="example2" class="form-label">LED Brightness:</label>
            <input type="number" class="form-control" id="ipaddr2" placeholder="[1-15]">
            <label for="example2" class="form-label">Local Voucher Password</label>
            <input type="password" class="form-control" id="ipaddr3" placeholder="Input Password">
          </div>

        </div>
      </div>
      <div class="row">
        <div class="col-12">
          <div class="form-group">
            <label class="control-label">startup.cfg Value</label>
            <textarea cols="0" rows="10" class="form-control" placeholder="Textarea"></textarea>
          </div>
        </div>
      </div>

    </card>
    <card cardTitle="HeartBeat Parameters" isCollapse="true">
        <div class="row">
          <div class="col-6">
            <div class="form-group">
              <label for="example1" class="form-label">Query Delay</label>
              <input type="text" class="form-control" id="QueryDelay" placeholder="[20000 - 300000]">
            </div>
            <div class="form-group">
              <label for="example2" class="form-label">Test IP ADDR1</label>
              <input type="text" class="form-control" id="ipaddr1" placeholder="Input IP Address">
            </div>
          </div>
          <div class="col-6">
          <div class="form-group">
            <label for="example2" class="form-label">Test IP ADDR2</label>
            <input type="text" class="form-control" id="ipaddr2" placeholder="Input IP Address">
          </div>
          <div class="form-group">
            <label for="example2" class="form-label">Test IP ADDR3</label>
            <input type="email" class="form-control" id="ipaddr3" placeholder="Input IP Address">
          </div>
          </div>
        </div>
    </card>
  </div>
  <div class="col-md-6">
    <card cardTitle="Basic Features" isCollapse="true">
      <div class="form-group">
        <div class="col-md-12">
          <input class="checkbox" type="checkbox" id="color-checkbox1" checked>
          <label class="check-label" for="color-checkbox1">Allow Log Auth</label>
        </div>
        <div class="col-md-12">
          <input class="checkbox checkbox-primary" type="checkbox" id="color-checkbox2" checked>
          <label class="check-label" for="color-checkbox2">Allow 8.8.8.8</label>
        </div>
        <div class="col-md-12">
          <input class="checkbox checkbox-success" type="checkbox" id="color-checkbox3" checked>
          <label class="check-label" for="color-checkbox3">Allow 208.67.222.222</label>
        </div>
        <div class="col-md-12">
          <input class="checkbox checkbox-warning" type="checkbox" id="color-checkbox4" checked>
          <label class="check-label" for="color-checkbox4">Allow Hotspot DHCP</label>
        </div>
        <div class="col-md-12">
          <input class="checkbox checkbox-danger" type="checkbox" id="color-checkbox5" checked>
          <label class="check-label" for="color-checkbox5">Allow Hotspot DNS</label>
        </div>
        <div class="col-md-12">
          <input class="checkbox checkbox-info" type="checkbox" id="color-checkbox6" checked>
          <label class="check-label" for="color-checkbox6">Coinslot Activation with Internet</label>
        </div>
      </div>
      <div class="form-group">
        <div class="input-group">
          <input class="form-control with-success-addon" placeholder="Mail" type="text">
          <span class="input-group-addon input-group-addon-success addon-right" id="basic-addon1">@mail.com</span>
        </div>
      </div>
    </card>
    <card cardTitle="Rate Limiting Settings" isCollapse="true">
      <div class="form-group">
        <div class="row">
          <div class="col-6">
            <div class="form-group">
              <label for="example1" class="form-label">HOTSPOT Max Throughput:</label>
              <input type="text" class="form-control" id="QueryDelay" placeholder="Jane Doe">
            </div>
            <div class="form-group">
              <label for="example2" class="form-label">User Max Throughput:</label>
              <input type="email" class="form-control" id="ipaddr1" placeholder="jane.doe@example.com">
            </div>
          </div>
          <div class="col-6">
          <div class="form-group">
            <label for="example2" class="form-label">User Streaming Max Throughput:</label>
            <input type="email" class="form-control" id="ipaddr2" placeholder="jane.doe@example.com">
          </div>
          <div class="form-group">
            <label for="example2" class="form-label">User Download Max Throughput:</label>
            <input type="email" class="form-control" id="ipaddr3" placeholder="jane.doe@example.com">
          </div>
          </div>
        </div>
      </div>
    </card>
  </div>
</div>
<card cardTitle="WLC File System Upload" isCollapse="true">
  <div class="row">
    <app-file-upload></app-file-upload>
  </div>
</card>
