/* Space out content a bit */
body {
  padding-top: 20px;
  padding-bottom: 20px;
}

/* Everything but the jumbotron gets side spacing for mobile first views */
.header,
.marketing,
.footer {
  padding-right: 15px;
  padding-left: 15px;
}

/* Custom page header */
.header {
  padding-bottom: 20px;
  border-bottom: 1px solid #e5e5e5;
}
/* Make the masthead heading the same height as the navigation */
.header h3 {
  margin-top: 0;
  margin-bottom: 0;
  line-height: 40px;
}

/* Custom page footer */
.footer {
  padding-top: 19px;
  color: #777;
  border-top: 1px solid #e5e5e5;
}

/* Customize container */
@media (min-width: 768px) {
  .container {
    max-width: 730px;
  }
}
.container-narrow > hr {
  margin: 30px 0;
}

/* Main marketing message and sign up button */
.jumbotron {
  text-align: center;
  border-bottom: 1px solid #e5e5e5;
}
.jumbotron .btn {
  padding: 14px 24px;
  font-size: 21px;
}

/* Supporting marketing content */
.marketing {
  margin: 40px 0;
}
.marketing p + h4 {
  margin-top: 28px;
}

/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {
  /* Remove the padding we set earlier */
  .header,
  .marketing,
  .footer {
    padding-right: 0;
    padding-left: 0;
  }
  /* Space out the masthead */
  .header {
    margin-bottom: 30px;
  }
  /* Remove the bottom border on the jumbotron for visual effect */
  .jumbotron {
    border-bottom: 0;
  }
}
/*https://getbootstrap.com/docs/3.3/examples/jumbotron-narrow/jumbotron-narrow.css*/

.page-header{
  margin-top: 0;
  margin-bottom: 0;
}
footer{
  margin-top: 40px;
}

.card {
  margin-bottom: 1.5rem; }
*::after {
  box-sizing: inherit; }

.card {
  position: relative;
  display: flex;
  flex-direction: column;
  background-color: #fff;
  border: 1px solid #dbdee0; }
.p-1 {
  padding: 1rem 1rem !important; }
.font-4xl {
  font-size: 2rem !important; }
.mb-1 {
  margin-bottom: 1rem !important; }
.float-left {
  float: left !important; }

.float-right {
  float: right !important; }

.float-none {
  float: none !important; }
.card-block {
  flex: 1 1 auto;
  padding: 1.25rem; }
.font-2xl {
  font-size: 1.5rem !important; }
.float-left {
  float: left !important; }
.mr-1 {
  margin-right: 1rem !important; }
.bg-success {
  color: #fff !important;
  background-color: #bdea74 !important; }
.bg-primary {
  color: #fff !important;
  background-color: #36a9e1 !important; }
.bg-info {
  color: #fff !important;
  background-color: #67c2ef !important; }
.bg-warning {
  color: #fff !important;
  background-color: #fabb3d !important; }
.bg-danger {
  color: #fff !important;
  background-color: #ff5454 !important; }
.bg-inverse {
  color: #fff !important;
  background-color: #34383c !important; }
